ion-header{
    ion-title{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color:#263895;
    font-size: 36px;
    padding-left: 20px;
    }
}
ion-content{

    ion-card{
    background-color: #FEF9F0;
    }
    ion-card-content{
        ion-card-title{
            font-family: 'Nunito', sans-serif;
            font-weight: 900;
            color:#263895; 
        }
    }
}