<ion-header>
  <ion-toolbar>
    <ion-title>My Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let pet of pets$|async" (click)="openDetailModal(pet)">
      <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <ion-thumbnail>
              <img src="assets/pics/servicePic.png" /> <!--[src] = pet.image-->
            </ion-thumbnail>
          </ion-col>
          <ion-col size="9">
            <ion-card-title>Name: {{pet.name}}</ion-card-title>
            <ion-card-title>Breed: {{pet.breed}}</ion-card-title> <!--Posted by:-->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
