
// Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

ion-content{
    --background: #FEF9F0;

    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        
        // h1{
        //     font-family: 'Martel sams' sans-serif;
        //     font-weight: 800;
        //     font-size: 16px;
        //     font-style: normal;
        //     color: #EF3D26;
        //     ;

        // }
    }

    ion-button{
        height: 55px;
        width: 230px;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-style: normal;
        --background: #EF3D26;
        font-size: 20px;

    }

    ion-button ion-icon{
        font-size: 25px;
        margin-left: 7px;
    }
    .joinas{
        ion-button{
        height: 55px;
        width: 230px;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #263895;
        --background: #FEF9F0;
        border: 2px solid #263895;
        border-radius:25px;
        font-size: 10px;
        }
    }
}