<ion-content>
  <div id="header"> <!--#FEF9F0;-->
    <img src="assets/pics/pawpaw.png" />
    <!-- <h1>Bringing pawsibilities in your hands</h1>  -->
    <img src="assets/pics/bring.png"/>
    <img src="assets/pics/adopt.png"/>
    <br>
    <br>
    <ion-button expand="block" shape="round" (click)="signin()" >Sign In <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
    <div class="joinas">
    <ion-button expand="block" shape="round" (click)="signinAsService()" >Join as service provider <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>