ion-header{
    ion-buttons ion-icon{
        font-size: 30px;
        color: red;
    }
    h4{
        font-family: 'Nunito', sans-serif;
        font-weight: 900;
        color:#263895;
        font-size: 36px;
        margin-left: 15px;
    }
   
}
ion-content{
    --background: #FEF9F0;

    .details{
        background-color: #fff;
    }
    .details h4{
        font-family: 'Nunito', sans-serif;
        font-weight: 900;
        color:#263895;
        font-size: 36px;
        margin-left: 5px;
    }
    .details ion-label{
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        color:#898989;
        font-size: 16px;
        margin-left: 5px;
    }
    .details p{
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        color:#212121;
        font-size: 16px;
    }

    .add ion-label{
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        color:#898989;
        font-size: 16px;
        margin-left: 5px;
    }
    .add p{
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        color:#212121;
        font-size: 16px;
    }

    .editButt ion-button{
        height: 45px;
        width: 360px;
        font-family: 'Nunito', sans-serif;
        color: #ffaf42;
        --background: #FEF9F0;
        border: solid #ffaf42;
        border-radius: 3px;
        font-size: 18px;
    }
    .deleteButt ion-button{
        height: 45px;
        width: 360px;
        font-family: 'Nunito', sans-serif;
        color: red;
        --background: #FEF9F0;
        border: 3px solid red;
        border-radius: 3px;
        font-size: 18px;
    }
}