<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" routerLink></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="create">
    <h4>Create Account</h4>
  </div>
<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
  <div class="inputs">
    <p>Full Name</p>
    <ion-input type ="text" formControlName="name"  placeholder="Enter Full Name" required></ion-input> <!--[(ngModel)]="name"-->
    <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      <ion-icon name="information-circle-outline"></ion-icon>Name is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
      <ion-icon name="information-circle-outline"></ion-icon>Minimum 5 characters long.
    </span> -->

    <p>Email Address</p>
    <ion-input type ="text" formControlName="email" placeholder="Enter your email address" class="" required></ion-input>
    <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      <ion-icon name="information-circle-outline"></ion-icon>Email is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      <ion-icon name="information-circle-outline"></ion-icon>Enter valid email.
    </span> -->

    <p>Phone Number</p>
    <ion-input maxlength="10" formControlName="number" placeholder="Enter your Phone Number" required></ion-input>
    <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.number.errors?.required">
      <ion-icon name="information-circle-outline"></ion-icon>Phone number is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.number.errors?.pattern">
      <ion-icon name="information-circle-outline"></ion-icon>Only numbers are allowed.
    </span> -->

    <p>Password</p>
    <ion-input type="password" formControlName="password"  placeholder="Password" required></ion-input>
    <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      <ion-icon name="information-circle-outline"></ion-icon> Password should not be empty.
    </span> -->
    <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
      Password should atleast be 8 characters long.
    </span> --> <!--ILABAS PAG PRESENTATION-->

    <p>Confirm Password</p>
    <ion-input type="password" placeholder="Confirm Password" required></ion-input>
    <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      <ion-icon name="information-circle-outline"></ion-icon>Password mismatch.
    </span> -->
    <br>
    <ion-item>
      <p>By registering, I agree with <a>Terms and Conditions</a> and 
        <a>Privacy Policy</a> of Pawsibilities
      </p>
      <ion-checkbox  checked slot="start"></ion-checkbox>
    </ion-item>
    <br>

    <div class="signBut">
      <ion-button expand="block" type="submit" shape="round">SIGN UP</ion-button>
    </div>

    <div class="have">
      <h2>Have an account?<a href="login()" class="underline">SIGN IN</a></h2> <!--<ion-router-link></ion-router-link>-->
    </div>

  </div>
</form>
</ion-content>
