<ion-header>
  <div class="header">
    <img src="assets/pics/pawpaw.png"/>
    <ion-icon name="person" (click)="goToProfile()"></ion-icon>
    <h3>Hello,</h3>
    <h4>{{name}}</h4>
  <div class="topButt">
    <ion-button full ion-button round="true" expand="block" shape="round" (click)="addpet()">+ Add Pet</ion-button>
    <ion-button full ion-button round="true" expand="block" shape="round" (click)="viewpet()">View Pets</ion-button>
  </div>
</div>
<br>
</ion-header>

<ion-content> 
  <br>
  <div class="text1">
  <h4>What are you looking for? </h4>
  </div>
  <br>
  <div class="PetServiceButton" (click)="goToPetService()" > <!-- (click)= "PetService1()"-->
    <img src="assets/pics/servicePic.png"/>
    <p>Pet Service <ion-icon name="chevron-forward-outline"></ion-icon></p>
  </div>
  <br>
  <div class="AdoptButton" (click)="goToAdopt()"> <!-- (click)= "PetService1()"-->
    <img src="assets/pics/adoptPic.png"/>
    <p>Adopt a Pet <ion-icon name="chevron-forward-outline"></ion-icon></p>
  </div>
  <br>
  <div class="NeedsButton" (click)="goToNeeds()"> <!-- (click)= "PetService1()"-->
    <img src="assets/pics/needsPic.png"/>
    <p>Pet Needs <ion-icon name="chevron-forward-outline"></ion-icon></p>
  </div>
</ion-content>
